body{
    height: 100vh;
display: flex;
flex-direction: column;

}
.top, .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-under-code-box{

}

ul{
display: flex;
justify-content: center;
gap: 20px;
list-style-type: none;
}



button{
    color: white;
    background-color: #2968f0;
}

a{
    color: white;
    text-decoration: none;
}

.header{
color: white;
background-color: #303145;
}

.links{
   display: flex;
   justify-content: flex-end; 
}

.image-box{
    display: flex;
    background-color: gray;
    padding: 70px;
    gap: 18px;
    
}

.midle{
    
   flex: 1;
}

.quote{
    display: flex;
    background-color: gray;
    padding: 18px;
    gap: 18px;
}

.the-quote{
    font-size: ;
}

.bottom{

}

.lower{
background-color: #2968f0;
padding: 18px;
color: white;
}

.last{
    display: flex;
    color: white;
    background-color: #303145;
    padding: 18px;
    justify-content: center;
    
}

.code-title{
    display: flex;
    justify-content: center;
}

.placeholder {
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 10px;
}