body{

}

ul{
display: flex;
gap: 20px;
list-style-type: none;
}

button{
    color: white;
    background-color: #2968f0;
    
}

a{
    color: white;
    text-decoration: none;
}

.header{
color: white;
background-color: #303145;
}

.links{
   display: flex;
   justify-content: flex-end; 
}

.image-box{
    background-color: gray;
}

.midle{

}

.quote{
    background-color: gray;
}

.the-quote{
    font-size: ;
}

.bottom{

}

.lower{
background-color: #2968f0;
}

.last{
    color: white;
    background-color: #303145;
}

