body{

}

button{
    background-color: #2968f0;
}

.header{
color: white;
background-color: #303145;
}

.links{
    
}

.image-box{
    background-color: gray;
}

.midle{

}

.bottom{

}



.quote{
    background-color: gray;
}

.the-quote{
    font-size: ;
}