body{
    height: 100vh;
display: flex;
flex-direction: column;

}
.top, .heading {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.text-under-code-box{

}



ul{
display: flex;
justify-content: center;
gap: 20px;
list-style-type: none;
}



button{
    color: white;
    background-color: #2968f0;
    border-radius: 7px;
    width: 90px;
    height: 26px;
}

a{
    color: white;
    text-decoration: none;
}

.header{
color: white;
background-color: #303145;
}

.links{
   display: flex;
   justify-content: flex-end; 
}

.image-box{
    display: flex;
    background-color: gray;
    padding: 70px;
    gap: 18px;
    
}

.midle{
   flex: 1;
}

.quote{
    display: flex;
    background-color: lightgray;
    padding: 18px;
    gap: 18px;
    flex-direction: column;
}

.the-quote{
    margin-left: 20px;
    margin-top: 10px;
font-size: 30px;
  margin-right: 20px;
}

.thor{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.bottom{

}

.lower{
    display: flex;
background-color: #2968f0;
padding: 18px;
color: white;
border-radius: 10px;
gap: 20px;
align-items: center;
justify-content: space-between;
height: 60px;
width: 700px;
}

.my-last-braincell{
    display: flex;
    justify-content: center;
    
}

.last{
    display: flex;
    color: white;
    background-color: #303145;
    padding: 18px;
    justify-content: center;
    
}

.code-title{
    display: flex;
    justify-content: center;
}

.placeholder {
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 10px;
}

.button2{
    border: 2px solid white;
}